<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Job_Sync_WBS.Properties.Settings.LottoConnectionString"
            connectionString="Data Source=DESKTOP-RNCE6NJ\SQLEXPRESS;Initial Catalog=Lotto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Job_Sync_WBS.Properties.Settings.WolfApproveCore_SinghaEstateConnectionString"
            connectionString="Data Source=DESKTOP-5GGQPH9\SQLEXPRESS;Initial Catalog=WolfApproveCore.SinghaEstate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="data source=DESKTOP-5GGQPH9\SQLEXPRESS;initial catalog=WolfApproveCore.SinghaEstate;persist security info=True;user id=yajokz;password=12345678"/>
		<add key="DATE_FROM" value=""/>
		<add key="DATE_TO" value=""/>
		<add key="LogFile" value="D:\LogFile\Job_Sync_WBS"/>
	</appSettings>
</configuration>