<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Job_Sync_WBS.Properties.Settings.LottoConnectionString"
            connectionString="Data Source=DESKTOP-RNCE6NJ\SQLEXPRESS;Initial Catalog=Lotto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Job_Sync_WBS.Properties.Settings.WolfApproveCore_SinghaEstateConnectionString"
            connectionString="Data Source=DESKTOP-5GGQPH9\SQLEXPRESS;Initial Catalog=WolfApproveCore.SinghaEstate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="data source=localhost;initial catalog=WolfApproveCore.SinghaEstate-r2-PRD;persist security info=True;user id=sa;password=pass@word1"/>
		<add key="DATE_FROM" value="20000501"/>
		<add key="DATE_TO" value="20300101"/>
		<add key="LogFile" value="C:\WORK\JobsList\JOBS\SEST\Job_Sync_WBS\Job_Sync_WBS\bin\Debug"/>
		<add key="BaseAPI" value="http://203.146.13.162:9010"/>
		<add key="Module" value="ZEX_M30"/>
		<add key="sap-client" value="900"/>
		<add key="Authorization" value="Basic TU9MMDE6c2FwQDEyMw=="/>
	</appSettings>
</configuration>